<div class="col-md-4">
    <p class="text-center text-info" style="font-size: x-large">this is user panel</p>
    <div class="panel panel-info">
        <div class="panel-heading"><a href="/user"><p>پنل کاربری </p></a></div>
        <div class="panel-body">

            <a href="/user/edit"><p>ویرایش اطلاعات</p></a>
            <hr>
            <a href="/open_order"><p>سبد خرید</p></a>
            <hr>
            <a href="/favorite_product_list"><p>لیست علاقه مندی ها</p></a>
            <hr>
            <a href=""><p>محصولات خریداری شده</p></a>
            <hr>
            <a href="/logout_user"><p>خروج از حساب کاربری</p></a>
            <hr>
        </div>
    </div>
</div>
