{% extends "shared/_MainLayout.html" %} {% load static %} {% block title %}صفحه اصلی{% endblock %}{% block headerLink %}
    {#<link rel="stylesheet" href="{% static 'css/my_css/product_item_component.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/my_css/slider-hidden.css' %}"> {% endblock %} {% block content %}
    <section id="slider" class="slider-hidden">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#slider-carousel" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner"> {% for slider in sliders %}
                            <div class="item {{ forloop.first|yesno:"active," }}">
                                <div class="col-sm-6"><h2 style="font-size: 5vm">{{ slider.title }}</h2>
                                    <p class="slider_text" style="text-align: justify!important;">{{ slider.description | truncatewords:100 }}</p>
                                    <button type="button" class="btn btn-default get"><a style="color: white"
                                                                                         href="{{ slider.link }}">مشاهده
                                        محصول</a></button>
                                </div>
                                <div class="col-sm-6">
                                    <div class="slider_container"><a href="{{ slider.link }}"> <img class="slider_image"
                                                                                                    src="{{ slider.image.url }}"
                                                                                                    alt="{{ slider.title }}"/>
                                    </a></div>
                                </div>
                            </div> {% endfor %}</div>
                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev"> <i
                                class="fa fa-angle-left"></i> </a> <a href="#slider-carousel"
                                                                      class="right control-carousel hidden-xs"
                                                                      data-slide="next"> <i
                            class="fa fa-angle-right"></i> </a></div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="recommended_items"><h2 class="title text-center">پر بازدید ترین محصولات</h2>
                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner"> {% for product_list in most_visit_product %}
                            <div class="item {{ forloop.first|yesno:'active, ' }}"> {% for product in product_list %}
                                {% include 'products/product_item_component.html' with product=product resnum=3 %}{% endfor %}</div> {% endfor %}
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev"> <i
                                class="fa fa-angle-left"></i> </a> <a class="right recommended-item-control"
                                                                      href="#recommended-item-carousel"
                                                                      data-slide="next"> <i
                            class="fa fa-angle-right"></i> </a></div>
                </div>
                <div class="col-sm-12 padding-right">
                    <div class="features_items"><h2 class="title text-center">آخرین محصولات</h2>
                        <div id="new-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner"> {% for product_list in latest_product %}
                                <div class="item {{ forloop.first|yesno:'active, ' }}">{% for product in product_list %}
                                    {% include 'products/product_item_component.html' with product=product resnum=3 %}{% endfor %}</div> {% endfor %}
                            </div>
                            <a class="left recommended-item-control" href="#new-item-carousel" data-slide="prev"> <i
                                    class="fa fa-angle-left"></i> </a> <a class="right recommended-item-control"
                                                                          href="#new-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i> </a></div>
                    </div>
                    <div class="category-tab">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs"> {% for category in categories %}
                                <li class="{{ forloop.first|yesno:'active, ' }}"><a href="#Tab_00{{ forloop.counter }}"
                                                                                    data-toggle="tab">{{ category.title }}</a>
                                </li>{% endfor %}</ul>
                        </div>
                        <div class="tab-content"> {% for category in categories %}
                            <div class="tab-pane fade {{ forloop.first|yesno:'active in, ' }}"
                                 id="Tab_00{{ forloop.counter }}"> {% if category.product_set.first is None %}
                                <div class="alert alert-warning" style="margin-top: 20px!important;"><p
                                        style="color: darkcyan; font-size: large">هیچ محصولی در این دسته بندی یافت
                                    نشد</p></div> {% endif %} {% for product in category.product_set.all %}
                                {% include 'products/product_item_component.html' with product=product resnum=3 %} {% endfor %}
                            </div>{% endfor %}</div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endblock %}