{% load static %}
<header id="header">

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4" style="text-align: left;">
                    <div class="logo">
                        <a href="/"><img src="{{ settings.logo.url }}" alt="Logo"
                                         style="text-align: center;width: 50px;height: 50px; border-radius: 50px"/></a>
                    </div>
                </div>

                <div class="col-sm-8 header-middle-menu">
                    <div class="mainmenu pull-right">
                        <ul class="nav navbar-nav navbar-collapse collapse">
                            <li><a href="/"><i class="fa fa-home"></i> خانه</a></li>
                            <li class="dropdown"><a href="/products"><i class="fa fa-shopping-cart"></i> محصولات<i
                                    class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    {% for category in categories %}
                                        <li><a href="/products/{{ category.name }}">{{ category.title }}</a></li>
                                    {% endfor %}
                                    {% if categories|length >= 8 %}
                                        <li><a href="/products" style="font-size: x-large!important;">...</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li><a href="/about-us"><i class="fa fa-info"></i> درباره ما</a></li>
                            <li><a href="/contact-us"><i class="fa fa-phone"></i> تماس با ما</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">

                <div class="col-sm-3">
                    {% include 'shared/search_products_input_component.html' %}
                </div>

                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-right">
                        <ul class="nav navbar-nav navbar-collapse collapse" style="height: 1px;">
                            {% if not request.user.is_authenticated %}
                                <li><a href="/login"><i class="fa fa-lock"></i> ورود</a></li>
                                <li><a href="/register"><i class="fa fa-lock"></i> ثبت نام</a></li>
                            {% else %}
                                <li><a href="/user"><i class="fa fa-dashboard"></i> حساب کاربری</a></li>
                                <li><a href="/favorite_product_list"><i class="fa fa-star"></i> لیست علاقه مندی ها</a>
                                </li>
                                <li><a href="/open_order"><i class="fa fa-shopping-cart"></i> سبد خرید
                                    {% if details|length > 0 %}
                                        <span>({{ details.count }})</span>
                                    {% endif %} </a></li>
                                <li><a href="/logout_user"><i class="fa fa-lock"></i> خروج</a></li>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <li><a href="/admin"><i class="fa fa-star"></i> ادمین</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div><!--/header-bottom-->
</header>
